<footer id="footer">

<div class="socials">
        <a href="https://github.com/tomirisamangeldy"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tomiris-amangeldy-79aa832b4/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <p>© <%=new Date().getFullYear()%> Tomiris Amangeldy. All rights reserved.</p>

</footer>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/c56dba690a.js" crossorigin="anonymous"></script>
</body>
</html>